@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC:300,300i');

@keyframes pokedex_loading_logo_swing {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}
@keyframes pokedex_loading_close {
    from {left: 0%;}
    to {left: -110%;}
}

html, body{
	width: 100%;
	height: 100%;

	position: relative;
	background: #cc0000;
	font-family: 'Alegreya Sans', sans-serif;
	user-select: none;
}

.pokedex{
	width: 70%;
	height: 90%;

	padding: auto;
	position: absolute;
	left: calc(50% - (70% / 2));
	top: calc(50% - (90% / 2));
	overflow: hidden; 
	
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
	background: white;
	border-radius: 5px;
}

.pokedex__loading{
	width: 100%;
	height: 100%;

	position: relative;
    left: 0%;

	background: #eee;
	display: table;
	text-align: center;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}
.pokedex__loading p{
	display: table-cell;
	margin: 0;
	vertical-align: middle;
}
.pokedex__loading p img{
	width: 300px;
	height: 300px;

	-webkit-animation: pokedex_loading_logo_swing;	
	-o-animation: pokedex_loading_logo_swing;	
	animation: pokedex_loading_logo_swing;	
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.pokedex__loading.close{

	left: -110%;
	-webkit-animation: pokedex_loading_close;
	-o-animation: pokedex_loading_close;
	animation: pokedex_loading_close;
	animation-duration: 1.5s;
}

.pokedex__container{
	width: 100%;
	height: 100%;

	position: relative;
	top: calc(-100% + 1px);
	display: flex;
	flex-direction: row;

	border-radius: 5px;
	text-align: center;
	z-index: 9;
}

.pokedex__container__search{
	width: 290px;
	height: 100%;
	
	display: flex;
	flex-direction: column;

	background: #eee;
	border-right: 1px solid #bbb;
}

.pokedex__container__search__input{
	width: 100%;
	height: 50px;

	background: #ddd;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #aaa;
}
.pokedex__container__search__input__field{
	width: 100%;

	padding-left: 20px;
	flex: 1;

	outline: none;
	text-align: left;
    display: table-cell;
    border: none;
    background: transparent;
    font-size: 13pt;
}
.pokedex__container__search__input__button{
	width: 50px;
	height: 100%;

    display: table-cell;
}
.pokedex__container__search__input__button img{
	vertical-align: middle;
	color: #aaa;
}

.pokedex__container__search__list{
	width: 100%;
	overflow-y: scroll;
	flex: 1;
}
.pokedex__container__search__list__item{
	width: calc(100% - (15px * 2));
	height: calc(56px - (10px * 2));

	padding: 10px 15px;

	display: table;
	float: left;
	text-align: left;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	
	background: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .07));
}
.pokedex__container__search__list__item:hover{
	background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .01));
}
.pokedex__container__search__list__item__thumbnail{
	width: 36px;
	height: 36px;

	display: table-cell;
	background-size: cover;
	background-color: white;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}
.pokedex__container__search__list__item__name{
	padding: 0 15px; 

	display: table-cell;
	vertical-align: middle;
	font-weight: 400;
}

.pokedex__container__welcome{
	height: 100%;
	
	padding: 0 30px;
	flex: 1;

	background: white;
}
.pokedex__container__welcome *{
	user-select: text;
}
h1.pokedex__container__welcome__title{
	padding-top: 20px;
	margin-top: 0;

	color: #777;
	text-align: right;
	font-size: 40pt;
	font-style: italic;
	font-family: 'Alegreya Sans SC', sans-serif;
}
p.pokedex__container__welcome__desc{
	font-size: 15pt;
	line-height: 22pt;
	text-align: right;
}

.pokedex__container__browse{
	height: 100%;
	
	padding: 0 30px;
    padding-bottom: 40px;
	display: none;
	flex: 1;
	flex-direction: column;
}
.pokedex__container__browse *{
	user-select: text;
}
.pokedex__container__browse.active{
	display: flex;
}
h1.pokedex__container__browse__title{
	padding-top: 20px;
	margin-top: 0;

	color: #777;
	text-align: right;
	font-size: 40pt;
	font-style: italic;
	font-family: 'Alegreya Sans SC', sans-serif;
}
p.pokedex__container__browse__desc{
	font-size: 16pt;
	line-height: 22pt;
	text-align: right;
}

.pokedex__container__browse__facts{
	display: flex;
    flex-direction: row;
}
.pokedex__container__browse__facts__item{
	flex: 1;
}
.pokedex__container__browse__image{
	flex: 1;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center 180px;
	background-size: 50%;
}

.pokedex__container__404, .pokedex__container__500 {
	top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-content: space-around;
	height: 100%;
}
.pokedex__container__404 h1, .pokedex__container__500 h1 {
	font-size: 7rem;
	flex: 1;
	display: flex;
	align-items: center;
}
.pokedex__container__404 h3, .pokedex__container__500 h3 {
	font-size: 2.5rem;
	flex: 1;
	display: flex;
	align-items: top;
}

/*
Large Desktop:  1222px;
Desktop:  1024px;
Large Tablet:  850px;
Tablet:  768px;
Mobile:  580px;
*/

@media (max-width: 1024px) {

	.pokedex{
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

}
@media (max-width: 768px) {

	.pokedex__container{
		flex-direction: column;
	}

	.pokedex__container__search{
		width: 100%;
		height: 300px;
	}
	.pokedex__container__search__list{
		border-bottom: 1px solid #999;
	}

	.pokedex__container__welcome{
		padding: 20px;
		display: block;
	}

	.pokedex__container__browse{
		padding: 20px;
	}
	.pokedex__container__browse__image{
		background-position: bottom !important;
	}

}